[data-md-color-scheme="default"] .md-typeset h1 {
  color: #c2410c;
}

[data-md-color-scheme="default"] .md-typeset h2 {
  color: #2563eb;
}

[data-md-color-scheme="slate"] .md-typeset h1 {
  color: #f874fd;
}

[data-md-color-scheme="slate"] .md-typeset h2 {
  color: #aa93fd;
}